html {
  box-sizing: border-box;
  font-size: 19px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: Helvetica, sans-serif;
}

.main{
  height: 94vh;
  margin-top: 3vh;
  margin-right: 2vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
}

.side-bar{
  background: #ffffff;
  width: 25%;
  margin-right: 2vw;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  width: 100%;
}

.bot-info{
  text-align: justify;
  text-justify: auto;
}

.github-badge{
  display: block;
  width: 6rem;
  margin-left: auto;
  margin-right: 10px;
}

.side-bar *{
  text-align: justify;
  text-justify: auto;
}

.switch-text{
  top:10px
}

.switch-area{
  display: flex;
  justify-content: center;
}

.switch-text-left{
  flex: 1;
  text-align: right; 
  color:darkorange;
  font-weight: bold;
}

.switch-text-right{
  flex: 1;
  text-align: left;
  color:darkgreen;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 1.5rem;
  margin:0 1rem 0 1rem;
  bottom: 0.25rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:darkorange;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:darkgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.7rem);
  -ms-transform: translateX(1.7rem);
  transform: translateX(1.7rem);
}

.caution-header{
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.attr{
  font-size: 0.7rem;
  text-align: center;
  text-justify: auto;
}

.main-box{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1;
  width: 75%;
  background-image: url("images/bg.jpg");
  background-size: 100%;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;;
  border-radius: 5px;
}

.chat-box{
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}
.chat-box::-webkit-scrollbar-track {
  background: #ddd;
}
.chat-box::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}

.msg-image{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.msg-name{
  margin-bottom: 10px;
  font-weight: bold;
}

.msg-bubble{
  max-width: 550px;
  padding: 15px;
  border-radius: 15px;
}

.right-msg {
  flex-direction: row-reverse;
}

.left-msg .msg-image{
  background-image: url("images/bot.svg");
}

.right-msg .msg-image{
  background-image: url("images/man.svg");
}

.left-msg .msg-bubble{
  border-bottom-left-radius: 0;
  background: #ececec;
}

.right-msg .msg-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}

.input-area{
  display: flex;
  background: #eee;
  border-top: var(--border);
  background: #eee;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.input-area *{
  padding: 10px;
  border: none;
  border-bottom-left-radius: 5;
  border-radius: 5px;
  font-size: 1rem;
}

.input{
  flex: 1;
  background: #ddd;
}

.send-button{
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.25s;
}

.send-button:hover{
  background: rgb(0, 180, 50);
}
