<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="images/logo_small.png">
  <title>NaBot</title>
</head>
<body>
  <main class="main">
    <section class="side-bar">
      <div>
        <a href="https://gitHub.com/MedBot-team/NaBot" target="_blank">
          <img class="github-badge" alt="Star" src="https://img.shields.io/github/stars/MedBot-team/NaBot.svg?logo=github&amp;style=social">
        </a>
        <img class="logo" src="images/logo.png" alt="logo">
        <p class="bot-info">
          NaBot is a smart medical chatbot. 
          It can answer your questions about drugs and tests.<br>
          Go ahead and try sending a message!
        </p>
      </div>
      <div>   
        <p>
          Currently, chitchat feature is under developement,
          you can switch between chitchat and medical questions.
        </p> 
        <div class="switch-area">
          <div class="switch-text-left">Medical chat</div>
          <label class="switch">
            <input type="checkbox" name="name">
            <span class="slider"></span>
          </label>
          <div class="switch-text-right">Chitchat</div>
        </div>
      </div>
        <div class="caution">
            <div class="caution-header">⚠️ Caution ⚠️<br></div>
            ⚠️ We are storing your chats to improve the chatbot; 
            Please don't share your personal data with this bot.<br>
            ⚠️ The chatbot has been made for fun. 
            Please don't consult with it about your serious life matters.
        </div>   
  
        <div class="attr">Icons made by 
          <a href="https://www.flaticon.com/authors/freepik" 
          title="Freepik">Freepik</a> and 
          <a href="https://www.flaticon.com/authors/vitaly-gorbachev" 
          title="Vitaly Gorbachev">Vitaly Gorbachev</a> 
          from <a href="https://www.flaticon.com/" 
          title="Flaticon">www.flaticon.com</a>
        </div>
    </section>

    <section class="main-box">
      <section class="chat-box">
        <div class="msg left-msg">
          <div class="msg-image"></div>
          <div class="msg-bubble">
            <div class="msg-name">NaBot</div>
            <div class="msg-text">
              Hi, welcome to NaBot! Go ahead and send me a message. 😄
            </div>
        </div>
      </section>
      <form class="input-area">
        <input type="text" class="input" id="textInput" placeholder="Enter your message...">
        <button type="submit" class="send-button">Send</button>
      </form>
    </section>
  </main>
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".input-area");
    const msgerInput = get(".input");
    const msgerChat = get(".chat-box");

    const BOT_NAME = "NaBot";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, side, text) {
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-image"></div>
  <div class="msg-bubble">
    <div class="msg-name">${name}</div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {
      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, "left", msgText);
      });
    }
    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }
  </script>
</body>
</html>