<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="../static/styles/images/bot.svg">
  <title>NaBot</title>
</head>
<body>
  <main class="main">
    <section class="side-bar">
      <p class="bot-info">
        NaBot is a smart medical chatbot. 
        It can answer your questions about drugs and tests.
      </p> 
      <p class="bot-info"></p>
        Go ahead and try sending a message!
      </p>
      <p>
        <a href="https://gitHub.com/MedBot-team/NaBot" target="_blank">
          <img class="github-badge" alt="Star" src="https://img.shields.io/github/stars/MedBot-team/NaBot.svg?logo=github&amp;style=social">
        </a>
      </p>
      <p>
        <a href="https://medbot-team.github.io/NaBot/" target="_blank">Documentation 📖</a>
      </p>
      <p class="attr">
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </p>
    </section>

    <section class="main-box">
      <section class="chat-box">
        <div class="msg left-msg">
          <div class="msg-image"></div>
          <div class="msg-bubble">
            <div class="msg-name">NaBot</div>
            <div class="msg-text">
              Hi, welcome to NaBot! Go ahead and send me a message. 😄
            </div>
          </div>
      </section>
      <form class="input-area">
        <input type="text" class="input" id="textInput" placeholder="Enter your message...">
        <button type="submit" class="send-button">Send</button>
      </form>
    </section>
  </main>
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".input-area");
    const msgerInput = get(".input");
    const msgerChat = get(".chat-box");

    const BOT_NAME = "NaBot";
    const PERSON_NAME = "You";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, side, text) {
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-image"></div>

  <div class="msg-bubble">
    <div class="msg-name">${name}</div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {
      // Bot Response
      $.get("/get", { msg: rawText }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText);
      });
    }
    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }
  </script>
</body>
</html>