<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <title>NaBot</title>
</head>
<body>
  <main class="main">
    <div class="side-bar">
      sibe bar
    </div>

    <div class="main-box">
      <section class="chat-box">

      </section>
      <form class="input-area">
        <input type="text" class="input" id="textInput" placeholder="Enter your message...">
        <button type="submit" class="send-button">Send</button>
      </form>
    </div>
  </main>
</body>
</html>